
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Assistant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Adventure Next</a></li>
        <li><a href="https://www.linkedin.com/in/rjainusc/" target="_blank">About Me</a></li>
        <li><a href="http://www.github.com/jain-rish/adventurenext/" target="_blank">Adventure Next Github Page</a></li>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->


  <div class="col-lg-4 col-xs-8">
  <form method="POST" action='/' enctype = "multipart/form-data">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn-lg btn-primary" input type="submit">Find!</button>
      </span>
      <input type = "file" name = "file">


    </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</nav>



<body>
<div class="container">

    <div class="row">        
        <div class="col-lg-6 col-sm-2 col-xs-4 thumb">
            <img class="userpic" src=" {{original}}" width="100%">
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">What do you think of the follwing matches?</h2>
        </div>
        
        {% for i in range(20) %}
        <a href={{matches['instagram_url'][i]}} target="_blank">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
            <img class="img-responsive" src=" {{matches['image_url'][i]}}">
            <span> {{matches['linkurl'][i]}} </span>
            
                <div>
                    <a class="btn btn-danger" href="https://www.instagram.com/{{matches['artist_info'][i][1:]}}" > 
                            {{matches['artist_info'][i][1:]}} </a>
                </div>
                <div class="btn-group">
                        {% for j in matches['art_title'][i].split(',') %}
                            <a class="btn btn-info" href="https://www.instagram.com/explore/tags/{{j[2:-1].replace("'","")}}" > 
                            {{j[2:-1].replace("'","")}} </a>
                        {% endfor %}
                </div>

        </div>
    {% endfor %}
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rishabh Jain 2019</p>
    </div>
    <!-- /.container -->
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</body>
</html>